@import 'node_modules/scss-reset/_reset';
@import 'assets/style/_variables';

* {
    scroll-behavior: smooth;
}

.bodyBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    z-index: 0;

    overflow-y: hidden;

    display: grid;
    grid-template-columns: 1fr $vertical-rule-gap 1fr;
    justify-content: center;
    align-items: center;

    .img {
        width: 100%;
        height: 100%;
        background-position: top;
        background-size: cover;
        background-repeat: repeat-y;
    }

    .verticalRule {
        height: 120%;
        width: 100%;
        border: solid #bdbebe 1.5px;
    }
}

main {
    z-index: 1;
    position: relative;
}

body {
    margin: 0;

    background-color: #f0f0f0;

    background-blend-mode: lighten;
}

@font-face {
    font-family: 'Hershey-Noailles';
    src: url('/fonts/Hershey-Noailles-OldFrench-Regular.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Hershey-Noailles';
    src: url('/fonts/Hershey-Noailles-Times-Triplex-Italic-Regular.ttf')
        format('truetype');
    font-style: italic;
    font-weight: normal;
}

@font-face {
    font-family: 'Hershey-Noailles';
    src: url('/fonts/Hershey-Noailles-Times-Mono-Regular.ttf')
        format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'Space Mono';
    src: url('/fonts/SpaceMono-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Avara';
    src: url('/fonts/Avara-BoldItalic.otf') format('opentype');
    font-style: italic;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @include mobile {
    }
}

p {
    text-transform: lowercase;

    font-family: 'Hershey-Noailles', serif;
    font-weight: 400;
    font-style: normal;
    line-height: 110%;

    font-size: 21px;
    margin-bottom: 1lh !important;

    @include mobile {
        font-size: 20px;
    }

    text-underline-offset: 2px;

    a:any-link {
        font-family: 'Avara', serif;
        font-style: italic;
        text-decoration: underline;
        font-size: 16px;

        @include mobile {
            font-size: 15px;
        }
    }

    strong {
        font-weight: bold;
        font-size: 26px;
    }

    em {
        font-style: italic;
    }
}

figure {
    p {
        margin-bottom: 0 !important;
    }

    strong {
        font-family: 'Space Mono', monospace;
        font-weight: normal;
        font-size: 16px;
        text-transform: uppercase;

        @include mobile {
            font-size: 15px;
        }
    }
}

a:any-link {
    color: inherit;
}

table {
    font-family: 'Space Mono', monospace;
    font-weight: 400;
    font-size: 15px;
    font-style: normal;
    line-height: 110%;

    width: 100%;
    margin-bottom: 45px;

    tbody {
        tr {
            margin-bottom: 10px;
            padding-bottom: 10px;

            border-bottom: solid 1px white;

            display: grid;
            grid-template-columns: 1fr;
            grid-auto-columns: max-content;
            grid-auto-flow: column;
            grid-gap: 30px;

            td:last-child {
                width: 40px;
                text-align: right;
            }
        }
    }
}
