@import 'assets/style/_variables';
@import 'node_modules/photoswipe/dist/photoswipe';

.fixedHeader {
    .logo {
        position: fixed;
        z-index: 3;
        mix-blend-mode: difference;
    }

    .center {
        left: 50%;
        transform: translateX(-50%);

        @include mobile {
            transform-origin: top;
            transform: translateX(-50%) scale(0.6);
        }
    }

    .top {
        top: $home-margin-y-desktop;
    }

    .bottom {
        bottom: $home-margin-y-desktop;
    }

    .left {
        left: $home-margin-x-desktop;
    }

    .right {
        right: $home-margin-x-desktop;
    }

    @include mobile {
        .top {
            top: $home-margin-y-mobile;
        }

        .bottom {
            bottom: $home-margin-y-mobile;
        }

        .left {
            left: $home-margin-x-mobile;
        }

        .right {
            right: $home-margin-x-mobile;
        }

        .top.left {
            transform-origin: top left;
        }
        .bottom.left {
            transform-origin: bottom left;
        }
        .bottom.right {
            transform-origin: bottom right;
        }
        .top.right {
            transform-origin: top right;
        }
    }
}

.mainScroll {
    margin: 0;

    .contentContainer {
        > p {
            max-width: $main-width-desktop;
            margin: auto;
        }

        @include desktop {
            padding: 0 30px;
            padding-top: 275px;
        }

        @include mobile {
            padding: 0 $home-margin-x-mobile + 2px;
            padding-top: 150px;
        }
    }
}
